body{
    background: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)),url(fondo.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}
.menu ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 15px;
}
.menu h1{
    color: rgb(86, 86, 86);
    letter-spacing: 1px;
}
.menu button{
    padding: 2px 14px;
    border-radius: 3px;
    border: 1px solid gray;
}
.log{
    text-align: center;
    padding-top: 29vh;
}
.log input{
    height: 35px;
    width: 300px;
    padding-left: 5px;
    border: none;
    border-radius: 2px;
}
.log2{
    text-align: center;
    padding-top: 25vh;
}
.log2 input{
    height: 35px;
    width: 300px;
    padding-left: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
}
#enviar{
    height: 30px;
    width: 100px;
}
.btn button{
    margin-left: 10px;
    border: none;
    padding: 10px 11px;
    font-size: 5px;
    border-radius: 50%;
}
#a1{
    color: rgb(251, 141, 141);
    padding: 0px 1px;
}
#a2{
    color: rgb(13, 57, 150);
    padding: 0px 2px;
}
#a3{
    color: rgb(0, 0, 0);
    padding: 0px 2px;
}
.btn button a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.mm{
    padding-left: 50vh;
    padding-top: 27vh;
}
.panel{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.433);
    box-shadow: 0 0 22px #000000;
    width: 700px;
    height: 300px;
    text-align: center;
}
.panel h2{
    padding-top: 40px;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
}
.panel h3{
    padding-top: 60px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;

}
.panel button{
    width: 110px;
    height: 30px;
    border: none;
    margin-left: 20px;
    border-radius: 2px;
}