body{
    background: linear-gradient(rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)),url(fondo.jpg);
}
.codigo{
    padding-top: 20px;
    text-align: center;
}
button{
    height: 50px;
    width: 100px;
}
.btn{
    margin-top: 20px;
}
#txtuse{
padding-bottom: 10px;
padding-top: 10px ;
padding-right: 160px;

}
body{
    text-align: center;  
}
p{
    color:rgb(254, 254, 254);
}
legend{
    color: rgb(255, 255, 255);
    padding-top: -30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;        
}
.bor {
    margin-top: 200px;
    margin-left: 625px;
    padding-top: 100px;
    padding-bottom: 100px;
    position:fixed;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid; 
    border-width: 2px;    
    width: 400px;                         
    background-color: rgba(0, 0, 0, 0.534);
}
